@media (max-width: 1024px){
  nav{
    display: none !important;
  }
  .width{
    width: 100% !important;
  }
  .width_text{
    width: 80%;
  }
}
html, body{
    margin:0;
    padding: 0;
    height: 100%;
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: serif;
}
ul{
  padding: 0;
}
li{
  list-style: none;
}
a{
  color: #222;
  text-decoration: none;
}
a:hover{
  color:#999999;
}
h1,h2{
  letter-spacing: 2px;
  font-weight: 100;
}
header, header div,aside,nav,nav div{
  height:100%;
  padding:0;
}
nav{
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: #ffffff;
  width: 20%;
}
footer div{
  padding-bottom: 10px !important;
}
.width{
  width: 80%;
}
.width_text{

}
.padding{
  padding: 100px 0;
}
.flex-center{
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: column; /* Safari */
  flex-direction: column;
  -webkit-justify-content: center; /* Safari*/
  justify-content: center;
  -webkit-align-items: center; /* Safari */
  align-items: center;
}
#img_profile{
  width: 250px;
  height: 250px;
}
